*{
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    height: 150px;
    background-color: #30336b;
    position: relative;
}
nav {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menus {
    display: flex;
    justify-content: space-between;
}
.menu {
    list-style: none;
}
.menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 2em;
    padding: 20px;
    transform-style: preserve-3d;
    transition: .5s;
}
.menu .home::after {
    content: "Home";
}
.menu .about::after {
    content: "About";
}
.menu .skills::after {
    content: "Skills";
}
.menu .my-work::after {
    content: "My work";
}
.menu .contact::after {
    content: "Contact";
}
.menu a::after {
    position: absolute;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 0 0 7px #000;
    transform-style: preserve-3d;
    perspective: 600px;
    transform: rotateX(90deg) translateZ(1.5em);
}
.menu a:hover{
    transform: rotateX(-90deg);
}